backports.statistics==0.1.0
brotli==1.1.0
brotlicffi==1.0.9.2
chardet==5.2.0
cryptography==41.0.3
Cython==3.0.2
dl==0.1.0
imusensor==1.0.1
ipaddr==2.2.0
keyring==24.2.0
mock==5.1.0
mypy_extensions==1.0.0
numpy
ordereddict==1.1
psutil==5.9.5
pyee==11.0.0
pyOpenSSL==23.2.0
pyzbar==0.1.9
pyzmq==25.1.1
sense_hat==2.4.0
simplejson==3.19.1
smbus==1.1.post2
typing_extensions==4.7.1
urllib3_secure_extra==0.1.0
websockets==11.0.3
zstandard==0.21.0
opencv-python==4.5.3.56